body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 255, 0.596);
}

.survey-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.form-group {
    margin-bottom: 10px;
}
.form-group button{
    padding: 10px 20px;
    background-color: rgba(0, 0, 255, 0.603);
    border-radius: 5px;
    border: none;
}
label {
    display: block;
}

.checkbox-group label {
    display: inline;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#popup-results {
    margin-top: 20px;
}

.popup-button {
    text-align: center;
}

.popup-button button {
    padding: 10px 20px;
    margin-right: 10px;
}